<div class="page-header">
  
  <!-- <div class="input-group">
    <span class="input-group-addon fui-search"></span>
    <input type="text" class="form-control" placeholder="寻找丧失..." ng-model="queryMembers" aria-describedby="search-addon-members"/>
  </div> -->

</div>
<div class="container">
  <div class="pagination">
    <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" boundary-links="true" previous-text="上一页" next-text="下一页" first-text="第一页" last-text="最后页"></pagination>
  </div>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <th>用户名</th>
      <th>积分</th>
      <th>等级</th>
      <th>精品数</th>
      <th>吧务</th>
      <th>制作组</th>
      <th>abc-彩虹小马指数</th>
    </thead>
    <tbody>
      <tr>
        <td>嘿, 这是你</td>
        <td>
          <input type="text" class="form-control flat" ng-model="yourScore" placeholder="你的贴吧分数">
        </td>
        <td>
          {{yourLevel = level(yourScore) | number:2}}
        </td>
        <td>
          <input type="text" class="form-control flat" ng-model="yourHighlights" placeholder="你的精品贴数">
        </td>
        <td>
          <select ui-select2 class="form-control select select-primary" data-toggle="select" ng-model="yourRole" data-placeholder="吧友">
            <option value=""></option>
            <option value="0" selected="selected">吧友</option>
            <option value="1.5">小吧</option>
            <option value="2">大吧</option>
          </select>
        </td>
        <td>
          <label class="checkbox" for="checkbox_modder">
            <input type="checkbox" value="" id="checkbox_modder" data-toggle="checkbox" class="custom-checkbox" ng-model="yourIsModder">
          </label>
        </td>
        <td>
          {{pointOf(yourScore, yourHighlights, yourRole, yourIsModder) | number:2}}
        </td>
      </tr>
      <tr ng-repeat="member in members | filter:queryMembers">
        <td>
          <img src="http://i62.tinypic.com/ev52xv.gif" ng-if="member.name == 'abcdgh'">
          {{member.name}}
          <a ng-href="{{member.link}}" target="_blank"><span class="fui-export"></span></a>
        </td>
        <td>
          {{member.score}}
        </td>
        <td>
          {{member.calculated_level | number:2}}
        </td>
        <td>
          {{member.highlights_count}}
        </td>
        <td>
          {{member.role_desc}}
        </td>
        <td>
          {{member.is_modder_desc}}
        </td>
        <td>
          {{member.point_may_use | floor}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()" max-size="maxSize" boundary-links="true" previous-text="上一页" next-text="下一页" first-text="第一页" last-text="最后页"></pagination>
  </div>
</div>